
html, body {
    background-color: #627A94;
	font-family: 'myFont', Arial, Helvetica, sans-serif;
}

#viewer {
    width: 60%;
	height: 100%;
	background-color: white; /* temporary */
	position: fixed;
	top: 0;
	left: 0;
}

#formAndBanner {
    width: 38%;
    float:right;
}

#banner{
    width:40%;
    background-color: #627A94;
    position: fixed;
    top: 0;
    right: 0;
	/* border-bottom: 0.2em solid #485B70; */
	box-shadow: 0 -0.5em 3em 0 #000000, inset 0 -0.25em 0.5em -0.35em #000000;
}

button {
    text-align: center;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    background: none;
    border: 0.2em solid #fff;
    color: #FFFFFF;
}

#banner button {
	border-radius: 0.8em;
    padding: 0.5em;
    font-size: 0.9em;
	font-weight: 700;
	margin: 0.2em;
	min-width: 8em;
}

table {
	width: 100%;
	margin: 0 auto;
	padding: 0.5em;
}

#form {
	margin-top: 5em;
}

#submitButton{
    border-radius: 0.8em;
    padding: 0.5em;
    font-size: 1.2em;
	letter-spacing: 0.05em;
	font-weight: 700;
}

legend {
    font-size: 1.4em;
    color: #EFEFEF;		/* or 303E4E maybe */
}

fieldset {
	margin-bottom: 15px;
    border: 4px solid #EFEFEF;		/* or 303E4E maybe */ 
	border-radius: 15px;
}

a {
	float: right;
	padding: 15px;
    color: #003366;
    font-size: 1em;
}

.in {
    display: block;
	float: left;
	padding: 6px;
	margin-top: 5px;
	width: 80%;
	box-shadow: inset 0px 2px 10px rgba(0, 0, 0, .2);
	background-color: #FFFFFF;
	font-size: 1em;
	border-radius: 6px;
	border: 2px solid #556B84;
}

textarea {
	font-family: 'myFont', Arial, Helvetica, sans-serif;
}

#filldetails{
    float: left;
    color:#EFEFEF;
}

#capital {
	width: 55%;
}

#currency {
	width: 25%;
	font-size: 13px;
}

#owner1{
    display:none;
}
